{% extends "base.html" %}

{% block content %}

    <center><h1>Учёт клиентов</h1></center>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <hr />
		<div class="form-row text-center align-items-center">
			<div class="col">
				{{ form.fio.label(class="form-control-label") }}
                    {% if form.fio.errors %}
                        {{ form.fio(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.fio(class="form-control") }}
                    {% endif %}
			</div>
			<div class="col">
				<label>Товар</label>
				<select name="tovar" class="form-control">
                        {% for lead in form.tovar.choices %}
                        <option value="{{ lead[1] }}"> {{ lead[1] }} </option>
                        {% endfor %}
                </select>
			</div>
			<div class="col">
				{{ form.address.label(class="form-control-label") }}
                    {% if form.address.errors %}
                        {{ form.address(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.address(class="form-control") }}
                    {% endif %}
			</div>
            <div class="col">
				{{ form.delivery_price.label(class="form-control-label") }}
                    {% if form.delivery_price.errors %}
                        {{ form.delivery_price(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.delivery_price(class="form-control") }}
                    {% endif %}
			</div>
			<div class="col">
				{{ form.contact.label(class="form-control-label") }}
                    {% if form.contact.errors %}
                        {{ form.contact(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.contact(class="form-control") }}
                    {% endif %}
			</div>
			<div class="col">
				{{ form.track.label(class="form-control-label") }}
                    {% if form.track.errors %}
                        {{ form.track(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.track(class="form-control") }}
                    {% endif %}
			</div>
			<div class="col">
				{{ form.status.label(class="form-control-label") }}
                    {% if form.status.errors %}
                        {{ form.status(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.status(class="form-control") }}
                    {% endif %}
			</div>
            <div class="col">
                <label>Оплата доставки</label>
                {% for lead in form.who_paid.choices %}
                <div class="form-check">
                    <input name="who_paid" class="form-check-input" type="radio" id="{{ lead[0] }}" value="{{ lead[0] }}">
                    <label class="form-check-label" for="{{ lead[0] }}">{{ lead[1] }}</label>
                </div>
                {% endfor %}
            </div>
                <H5 style="margin-top: 2.5%">{{ form.submit() }}</H5>
			</div>
        <hr />
	  </div>
	</form>
        <p>
        <table id="table-id" border="1" width="100%" cellpadding="5">
            <thead>
                <tr>
                    <th data-sort-default>Дата</th>
                    <th>ФИО</th>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Контакты</th>
                    <th>Адрес</th>
                    <th>Доставка</th>
                    <th>Себестоимость</th>
                    <th>Прибыль</th>
                    <th>Трек</th>
                    <th>Статус</th>
                    <th>Чек</th>
                    <th>Ред.</th>
                    <th>Del</th>
                </tr>
            </thead>
        {% for lead in current_user.leads %}
            <tr>
                <td>{{ lead.timestamp.strftime("%d.%m.%Y") }}</td>
                <td>{{ lead.fio }}</td>
                <td>{{ lead.tovar }}</td>
                <td>{{ lead.price }}</td>
                <td>{{ lead.contact }}</td>
                <td>{{ lead.address }}</td>
                <td>{{ lead.delivery_price }}</td>
                <td>{{ lead.cost_price }}</td>
                <td>{{ lead.profit }}</td>
                <td><a target="_blank" href="https://t.17track.net/ru#nums={{ lead.track }}">{{ lead.track }}</a></td>
                <td>{{ lead.status }}</td>
                <td><a href="{{ url_for('get_check', lead_id=lead.id) }}">📄</a></td>
                <td><a href="{{ url_for('update_lead', lead_id=lead.id) }}">✎</a></td>
                <td><a href="{{ url_for('delete_lead', lead_id=lead.id) }}">❌</a></td>
            </tr>
        {% endfor %}
        </table>
    </p>

<script>new Tablesort(document.getElementById('table-id'));</script>
{% endblock %}
