{% extends "base.html" %}

{% block content %}

    <center><h1>Правка заявки</h1></center>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <hr />
		<div class="form-row text-center align-items-center">
			<div class="col">
				{{ form.fio.label(class="form-control-label") }}
                    {% if form.fio.errors %}
                        {{ form.fio(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.fio(class="form-control") }}
                    {% endif %}
			</div>
			<div class="col">
				<label>Товар</label>
				<select name="tovar" class="form-control">
                        {% for lead in form.tovar.choices %}
                        <option value="{{ lead[1] }}"> {{ lead[1] }} </option>
                        {% endfor %}
                </select>
			</div>
			<div class="col">
				{{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                        {{ form.price(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.price(class="form-control") }}
                    {% endif %}
			</div>
			<div class="col">
				{{ form.address.label(class="form-control-label") }}
                    {% if form.address.errors %}
                        {{ form.address(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.address(class="form-control") }}
                    {% endif %}
			</div>
            <div class="col">
				{{ form.delivery_price.label(class="form-control-label") }}
                    {% if form.delivery_price.errors %}
                        {{ form.delivery_price(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.delivery_price(class="form-control") }}
                    {% endif %}
			</div>
			<div class="col">
				{{ form.cost_price.label(class="form-control-label") }}
                    {% if form.cost_price.errors %}
                        {{ form.cost_price(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.cost_price(class="form-control") }}
                    {% endif %}
			</div>
			<div class="col">
				{{ form.contact.label(class="form-control-label") }}
                    {% if form.contact.errors %}
                        {{ form.contact(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.contact(class="form-control") }}
                    {% endif %}
			</div>
			<div class="col">
				{{ form.track.label(class="form-control-label") }}
                    {% if form.track.errors %}
                        {{ form.track(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.track(class="form-control") }}
                    {% endif %}
			</div>
			<div class="col">
				{{ form.status.label(class="form-control-label") }}
                    {% if form.status.errors %}
                        {{ form.status(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        </div>
                    {% else %}
                        {{ form.status(class="form-control") }}
                    {% endif %}
			</div>
<!--            <div class="col">-->
<!--                <label>Оплата доставки</label>-->
<!--                <div class="form-check">-->
<!--                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">-->
<!--                  <label class="form-check-label" for="exampleRadios1">Покупатель</label>-->
<!--                </div>-->
<!--                <div class="form-check">-->
<!--                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>-->
<!--                  <label class="form-check-label" for="exampleRadios2">Мы</label>-->
<!--                </div>-->
<!--            </div>-->
                <H5 style="margin-top: 2.5%">{{ form.submit() }}</H5>
			</div>
        <hr />
	  </div>
	</form>
    <p>
        <a class="btn btn-secondary" href="{{ url_for('add_client') }}">⇐ Назад к менеждеру клиентов</a>
    </p>
{% endblock %}
