{% extends "base.html" %}

{% block content %}
    <center><h1>Ты индивидуальный предприниматель или владелец малого бизнеса?</h1></center>
    <center><h2>Тогда добро пожаловать на сайт по учёту клиентов!</h2></center>

    <h2>Мы поможем тебе:</h2>
    <div><p>● Учесть каждого клиента и проданный товар</p></div>
    <div><p>● Всегда быть в курсе о Ваших заказах и продажах</p></div>
    <div><p>● Контролировать статус заказов</p></div>
    <div><p>● Экономить время на учёте заявок</p></div>

    {% if current_user.is_anonymous %}
    <p><h2>Скорее <a href="{{ url_for('register') }}">регистрируйся</a> и выведи свой бизнес на новый уровень!</h2></p>
    {% else %}
    <p><h2>{{ current_user.username }}, я смотрю ты уже залогинен! <a href="{{ url_for('index') }}">Перейти к учёту клиентов</a></h2></p>
    {% endif %}

{% endblock %}